*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Compacta";
    src: url("./compacta.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
background: #0804A3;
font-family: "Compacta";
text-align: left;
padding: 1rem;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
}
.container{
    max-width: 80%;
    margin: auto;
    padding: 1rem;
    
}
h1{
    
    color: #C2230B;
    font-size: 9rem;
    letter-spacing: 0.8px;
    
    
}

audio{
    display:none;
    margin-top: 1rem;
    width: 100%;
    filter: grayscale(80%) brightness(0.9);
}
nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
#playBtn {
    background: none;
    border: 1px solid #C2230B; 
    color: #C2230B;
    font-size: 1.2rem;
    padding: 0.5rem 1.2rem;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.6s ease;
    min-width: 80px;
}

#playBtn:hover {
    border-color: #fff;
    color: #fff;
    background: rgba(255, 32, 32, 0.733);
}
p{
    font-size: 1 rem;
    color: white;
}
a{
    color: #0804A3;
}
@media (max-width: 600px) {
    h1 {
    font-size: 5rem;
    
    }}